@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.banner{
    background-color: #EFFAFF;
    width: 1140px;
    height: 430px;
    display: flex;
    flex-direction: row;
}
.texto{
    display: flex;
    flex-direction: column;
}
.titulo{
    color: #FF8A00;
    border: 0.7px solid #FF8A00;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: lowercase;
    width: 936;
    height: 96;
    top: 88px;
    left: 60px;
    border-width: 0.7px;
    

}