@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



.banner{
    display: flex;
    background-color: #F6F6F6;
    width: 1140px;
    height: 430px;
    display: flex;
    flex-direction: row;
}
.metade1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 40px 60px; */
}
.metade2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 40px 60px; */
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 40px 60px; */
}


.titulo{
    width: 480;
    height: 77;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #C39E93;
}

.texto{
    width: 549;
    height: 50;
    font-family: Mulish;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: lowercase;
    color: black;
}

.imagens1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;    
} 
.image-logo{
    width: 80;
    height: 45;
    top: 21px;
    left: 30px;
}
.imagens2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;    
} 
.image4{
    width: 582;
    height: 325;
    top: 44px;
    left: 43px;
}
.image1{
    width: 133;
    height: 70;
}
.image2{
    width: 132;
    height: 70;
}
.image3{
    width: 133;
    height: 70;
}

.button{
    width: 172;
    height: 37;
    top: 344px;
    left: 1122px;
    gap: 10px;
    padding-top: 6px;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-left: 24px;
    background: #C39E93;
    font-family: Mulish;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: #FFFFFF;

}
.linha1{
    width: 264.0000000000002;
    top: 81px;
    left: 665px;
    angle: -90 deg;
    border-width: 1px;
    border: 1px solid #000000
}
.linha2{
    width: 74.00000000000007;
    angle: -90 deg;
    border-width: 0.5px;
    border: 0.5px solid #000000
}
